// main styles

//color palette
$darkHighlight: #34425A;
$lightBlueEmph: #12AFCB;
$greenEmph: #22BAA0;
$yellowEmph: #F6D433;
$redEmph: #F25656;


body{
	background: whitesmoke;
}

a{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: inherit;
		text-decoration: none;
	}

}
// nav bar
.navbar-default .navbar-brand{
    width: 250px;
    background-color: $greenEmph;
    color: white;
    height: 60px;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Open Sans', sans-serif;
        &:hover, &:focus{
        background-color: $greenEmph;
        color: white;
    }

}

// styles accross pages
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $darkHighlight;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

    #collapseExample{
        margin-top: -10px;
    }

    #gameOptionsWell{
        line-height: 40px;
        border-radius: 0px 0px 4px 4px;

         a{
            color: gray;
        }
    }
}

.sidebar-nav li {
    line-height: 70px;
    text-align: center;
        span{
            display: block;
            font-size: 2.7rem;
            padding-top: 20px;
            color: white;
        }

        p{
            margin-top: -21px;
        }
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        padding-top: 60px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.modify_search{
    width: 25%;
    display: inline-block;
}


.fixedBtn{
    position: absolute;
    bottom: 5px;
    width: 100px;
    left: 50%;
    margin-left: -54px;
}

.userDisplay{
    position: absolute;
    right: 5px;
    bottom: 5px;
}


.navNotif{
    position: absolute;
    top: 10px;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    
    span {
        padding-right: 20px;
    }

}

#userAvatar{
    width: 150px;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    position: relative;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;


    span{
        font-size: 7rem;
        margin-top: 40px;
        color: white;
    }
}

.welcomeText{
    text-align: center;
    margin-top: 50px;
    h1{
        letter-spacing: -.1rem;
    }
}

.show{
    display: block;
}

.hide{
    display: none;
}

#notificationsSide{

    span {
        color: whitesmoke;      
    }
}


#navAndSidebar{
    display: none;
}

#mainNotification{
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    display: none;
}

#notificationHolder{
    position: relative;

    #newNotesNumber, #newNotesColor{
        position: absolute;
    }
    
    #newNotesNumber{
        top: -39px;
        left: 53.3%;
        font-size: 2rem;
    }

    #newNotesColor{
        height: 30px;
        width: 30px;
        background-color: red;
        border-radius: 50%;
        top: 0px;
        left: 50%;
    }

}

.note{
    cursor: pointer;
}


.userNameDisplay{
    text-align: center;
    font-size: 2rem;
}

#profile_tagline{
    text-align: center;
}


.picThumb{
    width: 50px;
    border-radius: 3px;
    margin-right: 10px;
}


/* ========= MAIN PAGE STYLES ========== */

.inline_input{
    width: 24%;
    display: inline;
}

#gameSpacer{
    height: 0px;

}

.modal-title{
    color: $redEmph;
}

#createGameModal {
    h3{
        color: $lightBlueEmph;
        font-size: 2.1rem;
        background-color: #FFFFFF;
        width: 30%;
        margin-left: 35%;
    }

    #creationActivities,#creationLocation,#creationPlayersAndSkill,#creationTimeAndDate{
        margin-bottom: 0px;
        color: gray;
        padding: 0px 50px;
    }

    #creationLocation{

        input{
            vertical-align: top;

            &:first-of-type{
                margin-bottom: 10px;
            }  
        }      
    }

   .modal-body{
        margin-top: -25px;
    }

    .modal-footer{
        text-align: center;
    }

    #creationButton{
        width: 100px;
        background-color: $darkHighlight;
        border: none;
    }

}

#createForm{
    text-align: center;
}
#creationSelect{
    width: 50%;
    color: gray;
}

#creationTimeHolder{

    table {
       display: inline-block; 
       margin-top: -15px;       

       input, button{
        color: gray;
       }
        
        .glyphicon{
            color: #565555
        }

    }
    p {
        display: inline-block;
        vertical-align: top;
        margin-top: 23px;
        margin-left: 20px;
        font-size: 1.7rem;
        color: gray;
    }
}

#creationDateHolder{
    input, span, p {
        display: inline-block;
        color: gray;
    }
    p {
        font-size: 1.7rem;
        margin-left: 53px;
        color: gray;
    }
}

#selectDate{
    width: 29%;
}

.dividerHeader{
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 2.3rem;
    margin-top: 0px;
}


/* ========= FIND GAME STYLES ========== */


#findGameModal{

    .modal-footer{
        text-align: center;
    }

    .modal-body{
        input{
            display: inline-block;
            width: 49%;
        }
    }

    #findGamesButton{
        width: 100px;
        background-color: $darkHighlight;
        border: none; 
        color: white;       
    }
}

.gameFound{
    
    overflow: hidden;
    margin-top: 60px;

    .jumbotron{
        padding: 0px;
        padding-bottom: 48px;
        background-color: white;
    }

    &:nth-of-type(2n+1){
        .singleGameFound{
            h1{
                background-color: $lightBlueEmph; 
            }
        }
    }

      &:nth-of-type(4n){
        .singleGameFound{
            h1{
                background-color: $greenEmph; 
            }
        }
    }

      &:nth-of-type(3n+1){
        .singleGameFound{
            h1{
                background-color: $redEmph; 
            }
        }
    }
}

.singleGameFound{
    width: 50%;
    margin-left: 25%;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 3px 6px rgba(128, 128, 128, 0.31);

    h1{
        font-size: 3.7rem;
        position: relative;
        margin: 0px;
        padding: 20px; 
        background-color: $greenEmph;
        color: white;

    }

    p{
        padding-left: 20px;

        &:first-of-type{
            margin-top: 20px;
        }

        strong{
            color: $darkHighlight;
            margin-right: 10px;
        }
    }

    .indivImgP{
        text-align: center;
        margin-bottom: 30px;
    }

    .joinGameBtn{
        background-color: $redEmph;
        width: 100px;
        color: white;
        margin: 20px 0px 15px;
        margin-left: -50px;
    }

    .userDisplay{
        margin: 20px 10px 15px 0px; 
        background-color: $darkHighlight;
        color: white;
    }

    .well, .well-lg{
        border-radius: 0px;
        padding: 7px 0px 0px;
        border: 0px;
        border-bottom: 1px solid #e3e3e3;
        background-color: rgba(52, 66, 90, 0.64);
        color: white;

    }

    .well{
        p{
            margin: 5px 0px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.29);

            &:last-of-type{
                border-bottom: none;
                padding-bottom: 0px;
                margin-bottom: 6px;
            }
        }
    }

}

#modSearch{
    button{
        background-color: $darkHighlight;
        color: white;
        margin-left: 20px; 
    }
}



/*============= STYLES FOR CURRENT GAMES PAGE ==============*/
.currentGameFound{
    margin-top: 80px;

    &:first-of-type{
        margin-top: 40px;
    }
}

#leaveOrCancel{
    text-align: center;

.cancelBtn{
        background-color: $redEmph;    
        color: white;
        margin: 20px 0px 15px;
        position: absolute;
        width: 130px;
        left: 50%;
        margin-left: -65px;
        bottom: 5px;
    }

}

.kickUser{
    cursor: pointer;
    font-size: 1.7rem;
}

#kickUserModal, #confirmCancelModal{

    h2{
        font-size: 2rem;
    }

    .modal-footer{
        text-align: center;

        button{
            background-color: $darkHighlight;
            color: white;
        }
    }

}


/*============= STYLES FOR INDIVIDUAL GAME PAGES ==============*/
#singleGame{
    text-align: center;

    h1{
        color: $redEmph;
    }

    h2{
        color: rgba(0, 0, 0, 0.71);
        font-family: 'Open Sans', sans-serif;
        font-size: 2.4rem;

        strong{
            font-family: 'Open Sans', sans-serif;
        }
    }
}

.noDesc{
    color: gray;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0px 60px 0px; 
}

.descOutput{
     color: gray;
    font-family: 'Open Sans', sans-serif;
}

.gameDisc{
    color: $greenEmph;
    text-align: center;
}


#commentBox{
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: white;

    .indivComment{
        width: 90%;
        margin-left:  5%;
    }

    .addComment{
        width: 70%;
        margin-left: 15%;
    }

    button{
        margin-top: 10px;
        width: 100px;
        position: relative;
        left: 50%;
        margin-left: -50px;
        background-color: $greenEmph;
        color: white;
    }
}


/*============= STYLES FOR PROFILE ==============*/


#profile_current_pic{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    background-color: tomato;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;


     span{
        font-size: 7rem;
        margin-top: 40px;
        color: white;
    }
}

#editProfileBtn{
    width: 100px;
    left: 50%;
    position: relative;
    margin-left: -50px;
    background-color: $redEmph;
    color: white;
}

#editProfileModal{
    .modal-footer{
        text-align: center;
        button{
            background-color: $redEmph;
            color: white;
        }
    }
}


/*============= STYLES FOR NOTIFICATIONS ==============*/

#allNotesHolder{
    margin-top: 30px;
    width: 80%;

    .jumbotron{
        padding: 10px;
        margin-bottom: 20px;
        position: relative;

        p{
            font-size: 1.7rem;
            margin-bottom: 0px; 
        }

        span{
            position: absolute;
            right: 10px;
            top: 13px;
        }

    }

     .readNote{
            background-color: white;
            }
}
