<!DOCTYPE html>
<html>
<head>
	<title>GameItUp</title>
	<link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body ng-app="MainApp">

	<div id="navAndSidebar">
		 <!-- navbar -->
				<div ng-include="'./app/partials/navBar.html'"></div>
		
	        <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            
	            <ul class="sidebar-nav">
	                <li class="sidebar-brand">
	                    <a href="#">
	                    </a>
	                </li>
	                <li>
	                    <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Games</a>
	                    <div class="collapse" id="collapseExample">
	                      <div class="well">
	                        <a href="#/main" data-toggle="modal" data-target="#createGameModal">Create Game</a>
	                        <a href="#/findGames" data-toggle="modal" data-target="#findGameModal">Find Game</a>
	                        <a href="#/currentGames" ng-click="searchOptions = true">Current Games</a>
	                        <a href="#/finishedGames" ng-click="searchOptions = true">Finished Games</a>
	                      </div>
	                    </div>
	                </li>
	                <li>
	                  <a href="#/profile" ng-click="logOutUser(); searchOptions = true"> Profile</a>
	                </li>
	                <li>
	                   <a id="notificationsSide" href="#/notifications" ng-click="searchOptions = true">Notifications <span class="glyphicon glyphicon-comment">{{noteNumber}}</span></a>
	                </li>
	                <li>
	                  <a href="#/login" ng-click="logOutUser(); searchOptions = true"> Log Out</a>
	                </li>
	            </ul>
	        </div>
	        <!-- /#sidebar-wrapper -->
	</div>
	

	<div id="mainContainer" ng-view>
		
	<h1>App Name</h1>
	<h3> A trendy little discription</h3>
		
	</div>

	<!-- find games modal -->
	<div ng-include="'./app/partials/findGamesModal.html'"></div>
	<!-- game creation modal -->
	<div ng-include="'./app/partials/gameCreationModal.html'"></div>
	
	
	
	<script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/lodash/dist/lodash.min.js"></script>

	<!-- angular links -->
	<script src="lib/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/angular-route/angular-route.min.js"></script>

	<script type="text/javascript" src="lib/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="lib/bower_components/firebase/firebase.js"></script>
	<script type="text/javascript" src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/factories/generalVariables.js"></script>
	<script type="text/javascript" src="app/controllers/loginAndRegisterCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/mainPageCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/findGames.js"></script>
	<script type="text/javascript" src="app/controllers/currentGamesCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/finishedGames.js"></script>
	<script type="text/javascript" src="app/controllers/indivGameCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/notificationsCtrl.js"></script>

</body>
</html>