<div ng-include="'./app/partials/sideBar.html'"></div>
<div id="wrapper">
 <!-- Page Content -->
 			<!-- page-content-wrapper is main content -->
        <div id="page-content-wrapper"> 
            <div class="container-fluid">
			        <!-- navbar -->
			        <div ng-include="'./app/partials/navBar.html'"></div>
                <div class="row">
                    <div class="col-lg-12">
					<p>Here are your currently registered games</p>
					<!--  track by $index to handle duplicates?-->
					<div id="gameFound" ng-repeat="game in usersGames">
						<div class="singleGameFound">
						<a href="#/games/{{game.$id}}">
							<h1>{{game.sportTitle}}</h1>
							<h3>Time: {{game.time}}</h3>
							<h3>Date: {{game.date}}</h3>
							<h3>Location: {{game.address + " " + game.city + " " + game.state}}</h3>
							<h3>current players: {{game.currentPlayers}}</h3>
							<h3>Spots left: {{game.maxPlayers - game.currentPlayers }}</h3>
						</a>
							<!-- if user is host of game, load hostUser Settings -->
							<div ng-include="hostedGames[game.$id] ? './app/partials/hostUserOptions.html' : './app/partials/leaveGame.html'"></div>
							<button class="btn" ng-click="isCollapsed = !isCollapsed; getGameUsers(game.$id)">Users</button>
							<div uib-collapse="isCollapsed">
								<!-- ng repeat below for usrs -->
								<div class="well well-lg" ng-repeat="user in GameUsers">
									<p>{{user.$id}}</p>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</div><!-- end wrapper -->

<!--  confirm cancel Modal -->
	<div id="confirmCancelModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Do you wish to cancel?</h4>
	      </div>
	      <div class="modal-body">
	      	<button ng-click="cancelGame()" data-dismiss="modal" class="btn">YAS</button>
	      	<button class="btn" data-dismiss="modal">No</button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" ng-click="findGames()" class="btn btn-default" data-dismiss="modal">Find</button>
	      </div>
	    </div>

	  </div>
	</div>