<div id="wrapper">
 <!-- Page Content -->
 			<!-- page-content-wrapper is main content -->
        <div id="page-content-wrapper"> 
            <div class="container-fluid">
            <!-- navbar -->
                <div class="row">
                    <div class="col-lg-12">

                        <p ng-if="userJoin === true">you have been invited: <button ng-click="addUserToGroup()" class="btn">Join</button></p>
						
						<h2 class="indivGroupHeader">{{groupSelected.groupName}}</h2>	
                        <h3 class="memberTotal">{{memberTotal}} Total Members</h3>
                        <h3 class="subDescription">{{groupSelected.groupDescription}}</h3>
                        <hr/>
                        <h3 class="indivGroupHeader"> Members</h3>
                        <div id="memberOutput" class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3" ng-repeat="member in groupMembers">
                                    <div class="memberSnippet">
                                        <div class="memberPic" style="background-image: url({{member.profilePic}})"></div>
                                        <p>{{member.username}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div> <!-- end page-content-wrapper -->
</div><!-- end wrapper -->