<div id="wrapper">
 <!-- Page Content -->
 			<!-- page-content-wrapper is main content -->
        <div id="page-content-wrapper"> 
            <div class="container-fluid">
            <!-- navbar -->
                <div class="row">
                    <div class="col-lg-12">
						
						<h2>{{groupSelected.groupName}}</h2>	


                    </div>
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div> <!-- end page-content-wrapper -->
</div><!-- end wrapper -->