<!-- Login panel -->
	<!-- error and success message holder -->
	<div class="alert alert-warning" ng-show="showRegisterMessage">{{registerSuccess}}</div>
	<div id="loginContainer" class="jumbotron">

		<p class="formLabel">Email</p>

		<!-- type = email not working with this version of angular, wont store variable -->
		<input ng-model="loginEmail" id="login-email" type="text" class="form-control" name="login-email"/>

		<p class="formLabel">Password</p>
		<input ng-model="loginPassword" id="login-password" type="password" class="form-control" name="login-password"/>
		<button id="login-button" class="btn btn-primary" ng-click="loginUser(loginEmail,loginPassword)">Log In</button>
		<button id="register-button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">Register</button>
	</div>


<!-- Register Modal -->
	<div id="registerModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Register</h4>
	      </div>
	      <div class="modal-body">
	      	<input class="form-control" placeholder="Email" ng-model="registerEmail" type="text" />
		    <input class="form-control" placeholder="Username" ng-model="registerUserName" type="text" />
		    <input class="form-control" placeholder="Password" ng-model="registerPassword" type="password" />
		    <input class="form-control" placeholder="Confirm Password" ng-model="registerConfirmPassword" type="password" />
	      	<input class="form-control" placeholder="Initial City" ng-model="initialCity" type="text" />
	      	<input class="form-control" placeholder="Initial State" ng-model="initialState" type="text" />
	      </div>
	      <div class="modal-footer">
	        <button type="button" ng-click="registerUser()" class="btn btn-default" data-dismiss="modal">Register</button>
	      </div>
	    </div>

	  </div>
	</div>
