<div id="sidebar">
	<button ng-click="logOutUser()" class="btn"> Log Out</button>
	<div><button data-toggle="modal" data-target="#createGameModal" class="btn">Create Game</button></div>
	<div><button data-toggle="modal" data-target="#findGameModal" class="btn">Find Game</button></div>
	<h1>{{gameCreationSuccess}}</h1>
</div>

<div id="gameFound" ng-repeat="game in gamesFound">
	<div class="singleGameFound">
		<h1>{{game.sportTitle}}</h1>
		<h3>Time: {{game.time}}</h3>
		<h3>Date: {{game.date}}</h3>
		<h3>Location: {{game.address + " " + game.city + " " + game.state}}</h3>
		<h3>current players: {{game.currentPlayers}}</h3>
		<h3>Spots left: {{game.maxPlayers - game.currentPlayers }}</h3>
		<button class="btn" ng-click="joinGame(game)">Join</button>
	</div>
</div>

<!-- Game Creation Modal -->
	<div id="createGameModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Create A Game</h4>
	      </div>
	      <div class="modal-body">
	      	<input class="form-control" placeholder="Sport/Activity" ng-model="gameTitle" type="text" />
	      	<input class="form-control" placeholder="Maximum number of players" ng-model="gameMaxPlayers" type="number" />
	      	<input class="form-control" placeholder="Minimum number of players" ng-model="gameMinPlayers" type="number" />

	      	<div class="well">
	      	<!-- Time selector -->
		      	<pre class="alert alert-info">Time Selected: {{gameTime | date:'shortTime' }}</pre>
			    <uib-timepicker ng-model="gameTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>

			<!-- Date selector -->
		      	<pre class="alert alert-info">Date Selected: {{gameDate}}</pre>
		      	 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="gameDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		      	 <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)">
	                	<i class="glyphicon glyphicon-calendar"></i>
	                </button>
                </span>
	      	</div>
			
			  <pre>Selected Address: {{asyncSelected | json}}</pre>
			    <input type="text" ng-model="asyncSelected" placeholder="Enter address here" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
			    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			    <div ng-show="noResults">
			      <i class="glyphicon glyphicon-remove"></i> No Results Found
			    </div>

	      	<!-- <input class="form-control" placeholder="Address" ng-model="gameAddress" type="text" />
	      	<input class="form-control" placeholder="Initial City" ng-model="gameCity" type="text" />
	      	<input class="form-control" placeholder="Initial State" ng-model="gameState" type="text" /> -->
	      <div class="modal-footer">
	        <button type="button" ng-click="createGame()" class="btn btn-default" data-dismiss="modal">Create</button>
	      </div>
	    </div>

	  </div>
	</div>
  </div>


<!-- Find Games Modal -->
	<div id="findGameModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Find Games</h4>
	      </div>
	      <div class="modal-body">
	      	<input class="form-control" placeholder="City" ng-model="findCity" type="text" />
	      	<input class="form-control" placeholder="State" ng-model="findState" type="text" />
	      </div>
	      <div class="modal-footer">
	        <button type="button" ng-click="findGames()" class="btn btn-default" data-dismiss="modal">Find</button>
	      </div>
	    </div>

	  </div>
	</div>