
<div ng-include="'./app/partials/sideBar.html'"></div>

<div id="wrapper">
 <!-- Page Content -->
 			<!-- page-content-wrapper is main content -->
        <div id="page-content-wrapper"> 
            <div class="container-fluid">
		            <!-- navbar -->
			        <div ng-include="'./app/partials/navBar.html'"></div>
                <div class="row">
                    <div class="col-lg-12">

                    <!-- displays search options -->
                    	<div uib-collapse="searchOptions">
							<div class="well well-lg">Some options</div>
						</div>

                    	<div id="gameFound" ng-repeat="game in gamesFound">
							<div class="singleGameFound">
							  <a href="#/games/{{game.$id}}">
								<h1>{{game.sportTitle}}</h1>
								<h3>Time: {{game.time}}</h3>
								<h3>Date: {{game.date}}</h3>
								<h3>Location: {{game.address + " " + game.city + " " + game.state}}</h3>
								<h3>current players: {{game.currentPlayers}}</h3>
								<h3>Spots left: {{game.maxPlayers - game.currentPlayers }}</h3>
							</a>
								<button class="btn" ng-click="joinGame(game)">Join</button>
								<button class="btn" ng-click="isCollapsed = !isCollapsed; getGameUsers(game.$id)">Users</button>
								<div uib-collapse="isCollapsed">
									<div ng-repeat="user in GameUsers" class="well well-lg"><p>{{user.$id}}</p></div>
								</div>
							</div>
						</div>
                      
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</div><!-- end wrapper -->

<!-- Game Creation Modal -->
	<div id="createGameModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Create A Game</h4>
	      </div>
	      <div class="modal-body">
	      <!-- Sport selector -->
	      	 <input type="text" placeholder="Sport/Activity" ng-model="gameTitle" uib-typeahead="sport for sport in sportArray | filter:$viewValue | limitTo:8" class="form-control">

	      	 <input type="text" placeholder="Street address" ng-model="streetAddress" class="form-control"/>
	      	<form class="form-inline">
		      	 <input type="text" placeholder="City" ng-model="gameCity" class="form-control"/>
		      	 <!-- State selector -->
			    <input type="text" ng-model="gameState" placeholder="State" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
			</form>
			 
		
	      	<input class="form-control" placeholder="Maximum number of players" ng-model="gameMaxPlayers" type="number" />
	      	<input class="form-control" placeholder="Minimum number of players" ng-model="gameMinPlayers" type="number" />

	      	<div class="well">
	      	<!-- Time selector -->
		      	<pre class="alert alert-info">Time Selected: {{gameTime | date:'shortTime' }}</pre>
			    <uib-timepicker ng-model="gameTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>

			<!-- Date selector -->
		      	<pre class="alert alert-info">Date Selected: {{gameDate}}</pre>
		      	 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="gameDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		      	 <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)">
	                	<i class="glyphicon glyphicon-calendar"></i>
	                </button>
                </span>
	      	</div>

	      	<!-- <input class="form-control" placeholder="Address" ng-model="gameAddress" type="text" />
	      	<input class="form-control" placeholder="Initial City" ng-model="gameCity" type="text" />
	      	<input class="form-control" placeholder="Initial State" ng-model="gameState" type="text" /> -->
	      <div class="modal-footer">
	        <button type="button" ng-click="createGame(); searchOptions = !searchOptions" class="btn btn-default" data-dismiss="modal">Create</button>
	      </div>
	    </div>

	  </div>
	</div>
  </div>


<!-- Find Games Modal -->
	<div id="findGameModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Find Games</h4>
	      </div>
	      <div class="modal-body">
	      	<input class="form-control" placeholder="City" ng-model="findCity" type="text" />
	      	<input class="form-control" placeholder="State" ng-model="findState" type="text" />
	      </div>
	      <div class="modal-footer">
	        <button type="button" ng-click="findGames(); searchOptions = !searchOptions" class="btn btn-default" data-dismiss="modal">Find</button>
	      </div>
	    </div>

	  </div>
	</div>
