<div id="wrapper">
 <!-- Page Content -->
 			<!-- page-content-wrapper is main content -->
        <div id="page-content-wrapper"> 
            <div class="container-fluid">		            
                <div class="row">
                    <div class="col-lg-12">
						<div ng-repeat="notification in notificationsArray">
							<p>Notification: {{notification.body}}</p>
						</div>
                      
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</div><!-- end wrapper -->