
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#/mainPage">
                        App Name
                    </a>
                </li>
                <li>
                	<a href="#/mainPage" data-toggle="modal" data-target="#createGameModal">Create Game</a>
                </li>
                <li>
                   <a href="#/mainPage" data-toggle="modal" data-target="#findGameModal">Find Game</a>
                </li>
                <li>
                   <a href="#/currentGames">Current Games</a>
                </li>
                <li>
                   <a href="#/finishedGames">Finished Games</a>
                </li>
                <li>
                   <a href="#/mainPage">Notifications</a>
                </li>
                <li>
                  <a href="#" ng-click="logOutUser()"> Log Out
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->