
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                    </a>
                </li>
                <li>
                	<a href="#/main" data-toggle="modal" data-target="#createGameModal">Create Game</a>
                </li>
                <li>
                   <a href="#/findGames" data-toggle="modal" data-target="#findGameModal">Find Game</a>
                </li>
                <li>
                   <a href="#/currentGames" ng-click="searchOptions = true">Current Games</a>
                </li>
                <li>
                   <a href="#/finishedGames" ng-click="searchOptions = true">Finished Games</a>
                </li>
                <li>
                   <a href="#/notifications" ng-click="searchOptions = true">Notifications <span class="glyphicon glyphicon-comment"></span></a>
                </li>
                <li>
                  <a href="#" ng-click="logOutUser(); searchOptions = true"> Log Out
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->